@model LoginViewModel

<div asp-validation-summary="All"></div>
<form asp-controller="auth" asp-action="login" method="post">
	<input type="hidden" asp-for="ReturnUrl" />
	<div>
		<label asp-for="Username">Username</label>
		<input asp-for="Username" type="text" />
	</div>
	<div>
		<label asp-for="Password">Password</label>
		<input asp-for="Password" type="password" />
	</div>
	<button type="submit">Login</button>
</form>